<h4>Substraction</h4>
<h5>Time:</h5>
<input [(ngModel)]="time"/>
<h5>Choose level (draw set of numbers):</h5>
<div class="form-check">
  <input class="form-check-input" type="radio" [(ngModel)]="model.options" name="exampleRadios" [value]="5"
    id="exampleRadios1" checked>
  <label class="form-check-label" for="exampleRadios1">
    5 numbers
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" [(ngModel)]="model.options" name="exampleRadios" [value]="6"
    id="exampleRadios2" checked>
  <label class="form-check-label" for="exampleRadios2">
    6 numbers
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" [(ngModel)]="model.options" name="exampleRadios" [value]="7"
    id="exampleRadios3" checked>
  <label class="form-check-label" for="exampleRadios3">
    7 numbers
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" [(ngModel)]="model.options" name="exampleRadios" [value]="8"
    id="exampleRadios4" checked>
  <label class="form-check-label" for="exampleRadios4">
    8 numbers
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" [(ngModel)]="model.options" name="exampleRadios" [value]="9"
    id="exampleRadios5" checked>
  <label class="form-check-label" for="exampleRadios5">
    9 numbers
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" [(ngModel)]="model.options" name="exampleRadios" [value]="10"
    id="exampleRadios6" checked>
  <label class="form-check-label" for="exampleRadios6">
    10 numbers
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" [(ngModel)]="model.options" name="exampleRadios" [value]="15"
    id="exampleRadios7" checked>
  <label class="form-check-label" for="exampleRadios7">
    15 numbers
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" [(ngModel)]="model.options" name="exampleRadios" [value]="20"
    id="exampleRadios8" checked>
  <label class="form-check-label" for="exampleRadios8">
    20 numbers
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" [(ngModel)]="model.options" name="exampleRadios" [value]="30"
    id="exampleRadios9" checked>
  <label class="form-check-label" for="exampleRadios9">
    30 numbers
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" [(ngModel)]="model.options" name="exampleRadios" [value]="50"
    id="exampleRadios10" checked>
  <label class="form-check-label" for="exampleRadios10">
    50 numbers
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" [(ngModel)]="model.options" name="exampleRadios" [value]="100"
    id="exampleRadios11" checked>
  <label class="form-check-label" for="exampleRadios11">
    100 numbers
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" [(ngModel)]="model.options" name="exampleRadios" [value]="200"
    id="exampleRadios12">
  <label class="form-check-label" for="exampleRadios12">
    200 numbers
  </label>
</div>
<div class="form-check disabled">
  <input class="form-check-input" type="radio" [(ngModel)]="model.options" name="exampleRadios" [value]="500"
    id="exampleRadios13">
  <label class="form-check-label" for="exampleRadios13">
    500 numbers
  </label>
</div>
<button type="button" name="btnStart" (click)="start()" class="btn btn-primary"
  [disabled]="isGameStarted">Start</button>

<div>Number of tries: {{numberSolved}}</div>
<div *ngIf="numberSolved > 0">
  Your result is: {{ secondsPerSolution | number: '1.1-2' }}
</div>

<div class="stats">
  <p>{{timeLeft}} Seconds Left....</p>
</div>
<form [formGroup]="mathForm">
  <div class="equation">{{ firstNumber }} - {{ secondNumber }} =</div>
  <input appAnswer formControlName="answer" class="input-result" disabled />
</form>
<div class="stats">
  Average time: {{ secondsPerSolution | number: '1.1-2' }}
</div>